LIQUIDLANE_BIND_ADDR=0.0.0.0:8080
LIQUIDLANE_ENV=development
LIQUIDLANE_DATA_PATH=./liquidlane-data.json
# FIBER_RPC_URL=http://127.0.0.1:8227
# FIBER_RPC_AUTH_TOKEN=
LIQUIDLANE_CKB_NETWORK=testnet
LIQUIDLANE_VAULT_ASSET=CKB
LIQUIDLANE_VAULT_CKB_ADDRESS=ckt1qpkp7liquidlanevault000000000000000000000000000
